[submodule "experimental/python/perfxpert/opencode"]
	path = experimental/python/perfxpert/opencode
	url = https://github.com/sst/opencode.git
	shallow = true
[submodule "projects/rccl/ext-src/mscclpp"]
	path = projects/rccl/ext-src/mscclpp
	url = https://github.com/microsoft/mscclpp.git
	ignore = dirty
	shallow = true
[submodule "projects/rccl/ext-src/json"]
	path = projects/rccl/ext-src/json
	url = https://github.com/nlohmann/json.git
	ignore = dirty
	shallow = true
[submodule "projects/rocprofiler/perfetto"]
	path = projects/rocprofiler/plugin/perfetto/perfetto
	url = https://github.com/google/perfetto.git
	branch = releases/v44.x
[submodule "projects/rocprofiler-sdk/external/googletest"]
	path = projects/rocprofiler-sdk/external/googletest
	url = https://github.com/google/googletest.git
[submodule "projects/rocprofiler-register/external/glog"]
	path = projects/rocprofiler-register/external/glog
	url = https://github.com/google/glog.git
[submodule "projects/rocprofiler-sdk/external/fmt"]
	path = projects/rocprofiler-sdk/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "projects/rocprofiler-register/external/fmt"]
	path = projects/rocprofiler-register/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "projects/rocprofiler-sdk/source/docs/doxygen-awesome-css"]
	path = projects/rocprofiler-sdk/external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "projects/rocprofiler-sdk/external/ptl"]
	path = projects/rocprofiler-sdk/external/ptl
	url = https://github.com/jrmadsen/PTL
[submodule "projects/rocprofiler-sdk/external/cereal"]
	path = projects/rocprofiler-sdk/external/cereal
	url = https://github.com/jrmadsen/cereal.git
[submodule "projects/rocprofiler-sdk/external/filesystem"]
	path = projects/rocprofiler-sdk/external/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "projects/rocprofiler-sdk/external/perfetto"]
	path = projects/rocprofiler-sdk/external/perfetto
	url = https://github.com/google/perfetto
[submodule "projects/rocprofiler-sdk/external/elfio"]
	path = projects/rocprofiler-sdk/external/elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "projects/rocprofiler-sdk/external/yaml-cpp"]
	path = projects/rocprofiler-sdk/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "projects/rocprofiler-sdk/external/json"]
	path = projects/rocprofiler-sdk/external/json
	url = https://github.com/nlohmann/json.git
[submodule "projects/rocprofiler-sdk/external/sqlite"]
	path = projects/rocprofiler-sdk/external/sqlite
	url = https://github.com/sqlite/sqlite
[submodule "projects/rocprofiler-sdk/external/pybind11"]
	path = projects/rocprofiler-sdk/external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "projects/rocprofiler-sdk/external/gotcha"]
	path = projects/rocprofiler-sdk/external/gotcha
	url = https://github.com/ROCm/GOTCHA
[submodule "projects/rocprofiler-systems/external/timemory"]
	path = projects/rocprofiler-systems/external/timemory
	url = https://github.com/ROCm/timemory.git
	branch = rocprofiler-systems
	shallow = true
[submodule "projects/rocprofiler-systems/external/perfetto"]
	path = projects/rocprofiler-systems/external/perfetto
	url = https://github.com/google/perfetto.git
	shallow = true
[submodule "projects/rocprofiler-systems/external/elfio"]
	path = projects/rocprofiler-systems/external/elfio
	url = https://github.com/jrmadsen/ELFIO.git
	shallow = true
[submodule "projects/rocprofiler-systems/external/dyninst"]
	path = projects/rocprofiler-systems/external/dyninst
	url = https://github.com/ROCm/dyninst.git
	branch = dyninst_13
	shallow = true
[submodule "projects/rocprofiler-systems/external/kokkos"]
	path = projects/rocprofiler-systems/examples/lulesh/external/kokkos
	url = https://github.com/kokkos/kokkos.git
	shallow = true
[submodule "projects/rocprofiler-systems/external/papi"]
	path = projects/rocprofiler-systems/external/papi
	url = https://github.com/icl-utk-edu/papi.git
	shallow = true
[submodule "projects/rocprofiler-systems/external/pybind11"]
	path = projects/rocprofiler-systems/external/pybind11
	url = https://github.com/jrmadsen/pybind11.git
	shallow = true
[submodule "projects/rocprofiler-systems/external/sqlite"]
	path = projects/rocprofiler-systems/external/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "projects/rocprofiler-systems/external/googletest"]
	path = projects/rocprofiler-systems/external/googletest
	url = https://github.com/google/googletest.git
	shallow = true
[submodule "projects/rocprofiler-systems/external/filesystem"]
	path = projects/rocprofiler-systems/external/filesystem
	url = https://github.com/gulrak/filesystem.git
	shallow = true
[submodule "projects/rocprofiler-systems/external/spdlog"]
	path = projects/rocprofiler-systems/external/spdlog
	url = https://github.com/gabime/spdlog.git
	tag = v1.16.0
	shallow = true
[submodule "projects/rocprofiler-systems/external/json"]
	path = projects/rocprofiler-systems/external/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "projects/rocprofiler-compute/src/vendored/pyyaml"]
	path = projects/rocprofiler-compute/src/vendored/pyyaml
	url = https://github.com/yaml/pyyaml.git
[submodule "projects/rocprofiler-systems/external/onetbb"]
	path = projects/rocprofiler-systems/external/onetbb
	url = https://github.com/uxlfoundation/oneTBB.git
	tag = v2022.3.0
[submodule "projects/rocprofiler-sdk/external/abseil-cpp"]
	path = projects/rocprofiler-sdk/external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
